<%= form_with(model: dgrp_line) do |form| %>
  <% if dgrp_line.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dgrp_line.errors.count, "error") %> prohibited this dgrp_line from being saved:</h2>

      <ul>
        <% dgrp_line.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
