docker-compose.yaml
docker-compose.dev.yaml
docker-compose.prod.yaml

.env.dev
data
postgres-data
startdb
*.sql
*.sql.gz
src/tmp/**
src/log/**
!src/log/.keep
!src/tmp/.keep
src/vendor/bundle
src/public/assets/*
src/solr/pids
src/solr
src/solr*
src/nohup.out
nohup.out

public/assets

*/node_modules
.env.prod
.env.dev
src/Gemfile.lock
src/package-lock.json

**/*.pid
*~
*#
*.old
*.old.*
*.bkp
*.bkp.*
*.bak
*.bak.*

# Ignore Byebug command history file.
#.byebug_history


