<div class='card text-center'>
<div class="card-body">
  <%= file_field_tag 'dataset_file' %>
  <button id='preparse_btn' type='button' class='btn btn-primary'>Upload</button>
  &nbsp;&nbsp;&nbsp;&nbsp;<i><%= link_to "Example file", get_file_study_path(Study.find(1), :name => 'summary.tsv'), {:target => "_blank"} %></i>
</div>
</div>
<%= javascript_tag do %>

var repeat_refresh_gwas;

 $("#preparse_btn").click(function(){
  var data = new FormData();
//data.append()
$(this).prop("disabled", true)
if ($('#dataset_file')[0].files.length > 0){
  $.each($('#dataset_file')[0].files, function(i, file) {
    console.log(file)
    data.append('file', file);
});
  console.log(data)
  $.ajax({
    url: '<%= raw compute_my_pheno_correlation_path() %>',
    data: data,
    headers: {
//      "Content-Type": "application/json",
      "X-CSRF-Token": document.querySelector("meta[name='csrf-token']").content,
    },
    cache: false,
    contentType: false,
    processData: false,
    method: 'POST',
    type: 'POST', // For jQuery < 1.9
				  success: function(data){
				  $("#parsing_info").addClass("hidden")
     $("#preparsing_result").html(data)
    }
				  })
				     }else{
				  alert("Please select a file to upload!")
                             $("#preparse_btn").prop("disabled",false)				  
                                  }

 })

$("#preparsing_result").empty()

<% end %>
