<h1>Editing dgrp status</h1>

<%= render "form", dgrp_status: @dgrp_status %>

<br>

<div>
  <%= link_to "Show this dgrp status", @dgrp_status %> |
  <%= link_to "Back to dgrp statuses", dgrp_statuses_path %>
</div>
