<h1>Editing oma ortholog</h1>

<%= render "form", oma_ortholog: @oma_ortholog %>

<br>

<div>
  <%= link_to "Show this oma ortholog", @oma_ortholog %> |
  <%= link_to "Back to oma orthologs", oma_orthologs_path %>
</div>
