[Unit]
Description=Daemon for GWAS job queuing 
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
User=fdavid
Group=fdavid
WorkingDirectory=[DGRPOOL_DIR]
ExecStart=/usr/bin/podman-compose exec website rails run_user_gwas
KillSignal=SIGINT
Restart=always

[Install]
WantedBy=multi-user.target
