<h1>Editing snp impact</h1>

<%= render "form", snp_impact: @snp_impact %>

<br>

<div>
  <%= link_to "Show this snp impact", @snp_impact %> |
  <%= link_to "Back to snp impacts", snp_impacts_path %>
</div>
