<h1>Editing gwas result</h1>

<%= render "form", gwas_result: @gwas_result %>

<br>

<div>
  <%= link_to "Show this gwas result", @gwas_result %> |
  <%= link_to "Back to gwas results", gwas_results_path %>
</div>
