<p style="color: green"><%= notice %></p>

<%# session[:gs_settings].to_json %>

<div id='search_container' class=''></div>

<%= javascript_tag do %>

document.addEventListener('DOMContentLoaded', function () {

refresh("search_container", "<%= search_gwas_results_path(:nolayout => 1) %>", {loading:'fa-2x'})

})

<% end %>



