<div id="main_footer" class='row bg-light'>
  <div class='col-4' style='padding:10px'>
    <a href="https://epfl.ch" target='_blank'><%= image_tag "Logo_EPFL.svg", :width => '80px' %></a>
  </div>
  <div class='col-4' style='text-align:center;padding:10px'>
    &copy;2022-<%= Time.now.year %> Deplancke lab, EPFL, 1015 Lausanne<br>
  </div>
  <div class='col-4' style='text-align:right; padding:10px'>
    <a href="mailto:bioinfo.epfl@gmail.com,fabrice.david@epfl.ch,vincent.gardeux@epfl.ch?subject=DGRPool feedback">Contact</a> |
    <a href="https://www.epfl.ch/about/overview/regulations-and-guidelines/disclaimer" target='_blank'>Disclaimer</a>
  </div>
</div>
