<p style="color: green"><%= notice %></p>

<div id='search_container' class=''></div>

<%= javascript_tag do %>

//document.addEventListener('DOMContentLoaded', function () {

refresh("search_container", "<%= search_snps_path(:nolayout => 1) %>", {loading:'fa-2x'})

//})

<% end %>
