<h1>Editing flybase allele</h1>

<%= render "form", flybase_allele: @flybase_allele %>

<br>

<div>
  <%= link_to "Show this flybase allele", @flybase_allele %> |
  <%= link_to "Back to flybase alleles", flybase_alleles_path %>
</div>
