<h1>Editing summary type</h1>

<%= render "form", summary_type: @summary_type %>

<br>

<div>
  <%# link_to "Show this summary type", @summary_type %>
  <%= link_to "Back to summary types", summary_types_path, {:class => 'btn btn-secondary'} %>
</div>
